{{- $binDir := joinPath .chezmoi.homeDir ".local/bin" }}
{{- $compDir := joinPath .chezmoi.homeDir ".local/share/bash-completion" -}}

[data]
    name = {{ promptString "name" | quote }}
    email = {{ promptString "email" | quote }}
    bindir  = "{{ $binDir | trim }}"
    compdir = "{{ $compDir | trim }}"

[edit]
    command = "nvim"
