[data]
    is_wsl = {{ (.chezmoi.kernel.osrelease | regexMatch "-microsoft-standard$") }}

[edit]
command = "nvim"

[diff]
command = "nvim"
args = [ 
  "-d", 
  "{{`{{ .Destination }}`}}", 
  "{{`{{ .Target }}`}}" 
]

[merge]
command = "nvim"
args = [
  "-d",
  "{{`{{ .Destination }}`}}",
  "{{`{{ .Source }}",
  "{{ .Target }}`}}"
]

