{- $email := promptString "Enter email" -}}

[data]
    is_wsl = {{ (.chezmoi.kernel.osrelease | regexMatch "-microsoft-standard$") }}
    email = "{{ $email }}"

[edit]
command = "vim"

[diff]
command = "vim"
args = [ 
  "-d", 
  "{{`{{ .Destination }}`}}", 
  "{{`{{ .Target }}`}}" 
]

[merge]
command = "vim"
args = [
  "-d",
  "{{`{{ .Destination }}`}}",
  "{{`{{ .Source }}",
  "{{ .Target }}`}}"
]
